<config>    
    <modules>
        <Cyberhull_Helloworld>
            <version>0.1.0</version>
        </Cyberhull_Helloworld>
    </modules>
    
    <frontend>
        <routers>
            <hi>
                <use>standard</use>
                <args>
                    <module>Cyberhull_Helloworld</module>
                    <frontName>hi</frontName>
                </args>
            </hi>
        </routers>
        <layout>
        	<updates>
        		<hi>
        			<file>ch.xml</file>
        		</hi>	
        	</updates>
        </layout>  
    </frontend>
     <global>
		<blocks>
			<helloworld>
				<class>Cyberhull_Helloworld_Block</class>
			</helloworld>
		</blocks>
	</global>
	
	<default>
		<some>
			<random>
				<one>
					<two>
					some - random - one - two
					</two>
				</one>
			</random>
		</some>
	</default>
    
</config>