<config>    
    <modules>
        <Cyberhull_Configviewer>
            <version>0.1.0</version>
        </Cyberhull_Configviewer>
    </modules>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <cyberhull_configviewer_model_observer>
                        <type>singleton</type>                          
                        <class>Cyberhull_Configviewer_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </cyberhull_configviewer_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>